---
layout: page
title: tutorial
print_title: Tutorial
comments: false
order: 3
---

{% assign PostByCategory = site.posts | where: "tag", "tutorial" | sort: date | group_by: "category" %}

<div class="books">
    {% for post in PostByCategory %}
    <div class="book">
        <img src="assets/img/{{ post.name | downcase | slugify }}.jpg" alt="{{ post.name }}" class='img_center' height="200px">
        <span class="book-title">{{ post.name | upcase }}</span>
        <ol>
            {% for item in post.items %}
            <li><a href="{{item.url}}"> {{ item.title }} </a></li>
            {% endfor %}
        </ol>
        <br>
    </div>
    {% endfor %}
</div>
