/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  
  // Positioning context for the mobile navigation icon
  position: relative;
  
  // My Settings
  background-color: $blue-color-dark;
  background-image: linear-gradient($blue-color-light, $blue-color-dark);
  min-height: $spacing-unit * 2;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: $background-color !important;

  &:hover {
    color: $yellow-color-light !important;
  }
  

  &,
  &:visited {
    // color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    // color: $text-color;
    color: white;
    line-height: $base-line-height;

    &:hover{
      color: $yellow-color-light;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
  

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      color: $blue-color-dark;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit-min 0;
  background-color: $blue-color-dark;
  background-image: linear-gradient($blue-color-light, $blue-color-dark);
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  // color: $grey-color;
  color: $background-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 4;
  margin-top: $spacing-unit / 4;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-4 {
  width: -webkit-calc(80% - (#{$spacing-unit} / 2));
  width:         calc(80% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
  

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  p {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  
}



.books {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  align-items: flex-start;
}

.book {
  // width: 350px;
  width: 100%;
  display: block;
  margin: 1em 0em;
}

.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.book-title {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  display: block;
  padding: 0.3em 0;
}

.about {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;

  @media only screen and (max-width: 500px) {
    .profile {
      display: none;
    }
  }

  .profile {
    flex: 2;

    .image {
      background-image: url('https://avatars.githubusercontent.com/u/45540147');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      box-shadow: 2px 2px 5px gray;
    }
    
  }

  &-text {
    flex: 9;
  }
  .text-justify {
    text-align: justify;
    font-size: 0.95em;
  }


  &-stacks {
    margin-top: 2.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    .stack {
      flex: 1;
      margin: 0.3em;
      padding: 1rem;
      border-radius: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      &-img {
        height: 3em;
        width: 3em;
      }
      &-text {
        margin-top: 0.3em;
        letter-spacing: 0.1em;
        font-size: 0.8em;
        font-weight: 600;
      }
    }
  }

  &-category {
    margin-top: 1.5em;

    &-title {
      text-align: right;
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

  }
}

// Renderiza a image de cada stack
.git {
  background-color: #F05032;
  -webkit-mask-image: url('../assets/icons/git.svg');
  mask-image: url('../assets/icons/git.svg');
}

.html5 {
  background-color: #E34F26;
  -webkit-mask-image: url('../assets/icons/html5.svg');
  mask-image: url('../assets/icons/html5.svg');
}

.css3 {
  background-color: #1572B6;
  -webkit-mask-image: url('../assets/icons/css3.svg');
  mask-image: url('../assets/icons/css3.svg');
}

.javascript {
  background-color: #F7DF1E;
  -webkit-mask-image: url('../assets/icons/javascript.svg');
  mask-image: url('../assets/icons/javascript.svg');
}

.python {
  background-color: #3776AB;
  -webkit-mask-image: url('../assets/icons/python.svg');
  mask-image: url('../assets/icons/python.svg');
}

.django {
  background-color: #092E20;
  -webkit-mask-image: url('../assets/icons/django.svg');
  mask-image: url('../assets/icons/django.svg');
}

.angular {
  background-color: #DD0031;
  -webkit-mask-image: url('../assets/icons/angular.svg');
  mask-image: url('../assets/icons/angular.svg');
}

.excel {
  background-color: #464041;
  -webkit-mask-image: url('../assets/icons/microsoftexcel.svg');
  mask-image: url('../assets/icons/microsoftexcel.svg');
}

.ruby {
  background-color: #CC342D;
  -webkit-mask-image: url('../assets/icons/ruby.svg');
  mask-image: url('../assets/icons/ruby.svg');
}
.rails {
  background-color: #CC0000;
  -webkit-mask-image: url('../assets/icons/rubyonrails.svg');
  mask-image: url('../assets/icons/rubyonrails.svg');
}
.vue {
  background-color: #4FC08D;
  -webkit-mask-image: url('../assets/icons/vue.svg');
  mask-image: url('../assets/icons/vue.svg');
}
.nuxt {
  background-color: #00DC82;
  -webkit-mask-image: url('../assets/icons/nuxt.svg');
  mask-image: url('../assets/icons/nuxt.svg');
}
.pandas {
  background-color: #150458;
  -webkit-mask-image: url('../assets/icons/pandas.svg');
  mask-image: url('../assets/icons/pandas.svg');
}
.typescript {
  background-color: #3178C6;
  -webkit-mask-image: url('../assets/icons/typescript.svg');
  mask-image: url('../assets/icons/typescript.svg');
}

.cheatsheet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  
  &-item {
    min-width: 300px;
    padding: 1em;
    flex: 3;
  }
  
  &-title {
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-bottom: 0.5em;
    text-align: center;
  }
  
  &-content{
    font-size: 0.9em;
    border-radius: 0.1em;
    box-shadow: 2px 2px 3px 1px gray;
    padding: 1.5em;
    
    &-row{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.3em 0;
      border-top: 1px solid lightgray; 
    }
    
    &-row:first-child{
      border-top: none; 
    }
  }

  &-command {
    color: $brand-color;
    padding-right: 1.5em;
    flex: 1;
  }

  &-description {
    flex: 2;
  }
}

.d-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  img {
    display: block;
  }

  div {
    width: calc(100% - 200px);    
    display: block;
    padding-left: 1em;

    .book-title {
      text-align: left;
      margin-left: 0.5em;
    }

  }

  @include media-query($on-palm) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      width: 100%;
    }
  }
}

.natural_method {
  display: flex;
  margin: 1em auto;
}

.natural_method > div:first-child {
  line-height: 2em;
  padding-right: 1em;
  text-align: justify;
}


.natural_method > div:last-child {
  font-size: 0.8em;
  min-width: 20%;
  border-left: 2px solid gray;
  padding: 0;
  padding-left: 0.8em;
  margin: 0;
  line-height: 1em;
  letter-spacing: 1;
}

.natural_method > div:last-child > div {
  margin: 0.75em auto;
}
